@import './variables';

// TAbles
.table {
    border-top: 0;
    thead {
        tr {
            background-color: #d8dce0;
            border-bottom: 1px solid #BFC6CC;
        }
        th {
            font-size: 12px;
            font-weight: bold;
            color: #767676;
            border-top: 0;
            border-bottom: 0;
        }
    }
    tbody {
        font-size: 14px;
        color: $matteText;
    }
    td {
        padding: 0;
        vertical-align: middle;
        line-height: 2rem;
        border-bottom: 1px solid white;
        border-top: 0;        
        img {
            height: 28px;
            width: 28px;
        }
    }
    .table-row {
        td {
            padding: 1rem 0.75rem;
        }
    }
    .fieldReference {
        font-weight: 100;
    }
    .errorMsg {
        color: $redInteractive;
    }
    .warningMsg {
        color: $warning;
    }
    .details-row {
        &:hover {
            background-color: white;
        }
        td {
            padding: 0;
        }
        .errorDesc {
            padding: 12px 0px;
            border-bottom: 1px solid $superLightGrey;
        }
    }
    .projectName {
        font-weight: 600;
    }
    .errorLink {
        color: $redInteractive;
        &:hover {
            text-decoration: underline;
        }
    }
    .warningLink {
        color: $warning;
        &:hover {
            text-decoration: underline;
        }
    }
    tr {
        border: 0;
        background-color: white;
        &:focus, &:active {
            outline: 0;
        }
        &.core {
            background-color: #f0f0f0;
        }
    }
}