// Variables

// ------------ COLOURS ------------- //
 
// --- Brand Colours --- //
// BGA Primary
$primary:                          #254F90;
$primaryInteractive:               #4569A0;
$primaryTint1:                     #B3C2D8;
$primaryTint2:                     #EFF4FB;
$primaryHover:                     #1F4176;
$navy:                             #18335C;
 
// BGA Secondary
$secondary:                        #E8BD4F;
$secondaryInteractive:             #EDCA72;
$secondaryTint1:                   #F3DEA7;
$secondaryTint2:                   #FCF4E3;
 

// --- Category Colours --- //
 
// Teal
$tealPrimary:                      #29A0A0;
$tealInteractive:                  #54B3B3;
$tealTint1:                        #A9D9D9;
$tealTint2:                        #DFF1F1;
 
// Blue
$bluePrimary:                      #3E96FF;
$blueInteractive:                  #5BA6FF;
$blueTint1:                        #BEDCFF;
$blueTint2:                        #EBF4FF;
 
// Orange
$orangePrimary:                    #FF4B23;
$orangeInteractive:                #FF6F4F;
$orangeTint1:                      #FFB7A7;
$orangeTint2:                      #FFE4DE;
 
// Slate
$slatePrimary:                     #293F5C;
$slateInteractive:                 #495C74;
$slateTint1:                       #AAB2C3;
$slateTint2:                       #DFE2EE;
 
// Purple
$purplePrimary:                    #5B43D0;
$purpleInteractive:                #735FD7;
$purpleTint1:                      #BDB4EC;
$purpleTint2:                      #F1EEFA;
 
// Magenta
$magentaPrimary:                   #A42079;
$magentaInteractive:               #B64D94;
$magentaTint1:                     #DFB1D0;
$magentaTint2:                     #FFECF3;
 

// -- Neutrals -- //
 
// Greys
$darkestGrey:                      #505050;
$darkerGrey:                       #707070;
$darkGrey:                         #A0A0A0;
$grey:                             #C4C4C4;
$lightGrey:                        #C7C7C7;
$lighterGrey:                      #D8D8D8;
$lightestGrey:                     #EBEBEB;
$backgroundGrey:                   #F5F5F5;
 

// --- Alerts --- //
 
// Good
$green:                            #368635;
$greenInteractive:                 #219520;
$greenTint1:                       #A6D5A6;
$greenTint2:                       #E8F4E8;
 
// Warning
$warning:                          #ffbb33;

// Not so good
$red:                              #E22C2A;
$redInteractive:                   #E75755;
$redTint1:                         #F5B5B5;
$redTint2:                         #FCE9E9;
 

// --- Text --- //
$headingText:                     #333333;
$matteText:                        #474747;
$link:                             #007bff;
$linkHover:                        #0F54C3;
$linkVisited:                      #672F8D;
 

$primary-color:                    #282c34;
$secondary-color:                  #61dafb;
